<div fxLayout="column" fxFlex class="dark-theme">

  <md-toolbar color="primary">
    <span>Animal Viewer</span>
    <span fxFlex></span>
  </md-toolbar>

  <md-sidenav-container fxFlex>

    <animal-sidenav [animals]="animals" (selectedAnimal)="onAnimalSelected($event)"></animal-sidenav>

    <animal-detail [selectedAnimal]="selectedAnimal"></animal-detail>
    <!--<animal-detail></animal-detail>-->


  </md-sidenav-container>

  <button md-fab (click)="openAnimalDialog()" class="fab-bottom-right">
    <md-icon>add</md-icon>
  </button>

</div>
